.App {
  background-color:rgb(119, 216, 255);
}
.app1{
  background-image: url('https://w0.peakpx.com/wallpaper/506/235/HD-wallpaper-white-hexagon-geometric-shapes-white-aesthetic.jpg');
}
.text{
  padding-left: 6%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
  max-width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
}
.text1{
  color: rgb(119, 216, 255);
  font-size: 100%;
}

.center{
  width:100%;
}
.text2{
  color: rgb(119, 216, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
  margin-right: 4%;
}
.text3{
  padding-left: 6%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
}

.btn1{
margin-top: "5rem";
}